.form {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: $jelly-bean;
    &__container {
        width: 100%;
        height: auto;
        max-width: 80%;
        margin: 0 auto;
        // background: green;
        overflow: hidden;
        text-align: center;
        &__title {
            color: $white;
            font-weight: bold;
            font-size: $medium;
        }
    }
}